# Build and Release Folders
/obj
/Debug
/Release
/netcoreapp3.1

# Other files and folders
.settings/

# Executables
*.dll
*.pdb
*.cache
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
